python-can
python-can-candle
dm_env
minimalmodbus
pymodbus==3.5.1
pyserial
pexpect
pyquaternion
pyagxrobots
pycryptodome
ipython
h5py
PyYAML
tqdm
wandb
mediapipe
pyqt5
pyqtgraph
dm_control
uvicorn
matplotlib