# VIST 项目依赖
# 生成时间: 2026-02-10

numpy>=1.26.4
scipy>=1.15.3
opencv-python>=4.8.0.76
pinocchio>=2.6.0
pyyaml>=6.0.3
mediapipe>=0.10.9
matplotlib>=3.10.8
pyrealsense2>=2.56.5.9235
pupil-apriltags>=1.0.0
