<?xml version="1.0" encoding="utf-8"?>
<robot
  name="linker_hand_l20_6_right">
  <link name="base_link">
    <inertial>
      <origin
        xyz="-0.00497665848015421 -0.00239359858758318 0.083846552988329"
        rpy="0 0 0" />
      <mass
        value="0.152938259096654" />
      <inertia
        ixx="0.00028478343778912"
        ixy="6.06872955357818E-07"
        ixz="2.48655772230021E-05"
        iyy="0.000221451699440379"
        iyz="3.44778042860607E-07"
        izz="0.000136444210200083" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/linker_hand_l20_6_right/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/linker_hand_l20_6_right/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link name="thumb_link0">
    <inertial>
      <origin
        xyz="0.00171130517852104 0.00308064154313176 0.00586120979241961"
        rpy="0 0 0" />
      <mass
        value="0.00189122305087942" />
      <inertia
        ixx="5.07422291451096E-08"
        ixy="1.48672786797004E-09"
        ixz="-1.19109960812994E-09"
        iyy="2.03941511025912E-07"
        iyz="-4.14644150186611E-09"
        izz="1.83339702481041E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/linker_hand_l20_6_right/thumb_link0.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.529411764705882 0.945098039215686 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/linker_hand_l20_6_right/thumb_link0.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="thumb_joint0"
    type="revolute">
    <origin
      xyz="0.02587 0.0067333 0.085186"
      rpy="-0.7854 0 0" />
    <parent
      link="base_link" />
    <child
      link="thumb_link0" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.75"
      upper="0.75"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="thumb_link1">
    <inertial>
      <origin
        xyz="-0.000277478869029235 -0.00750942833858575 0.0089304983825501"
        rpy="0 0 0" />
      <mass
        value="0.00206305891915154" />
      <inertia
        ixx="3.05385146228895E-07"
        ixy="-5.00563486191384E-09"
        ixz="7.19583052938621E-09"
        iyy="2.40742124143551E-07"
        iyz="5.95561056697094E-08"
        izz="1.06741398376265E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/linker_hand_l20_6_right/thumb_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/linker_hand_l20_6_right/thumb_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="thumb_joint1"
    type="revolute">
    <origin
      xyz="6.5908E-05 0.0147 0.016142"
      rpy="0 0 0" />
    <parent
      link="thumb_link0" />
    <child
      link="thumb_link1" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-1.57"
      upper="0"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="thumb_link2">
    <inertial>
      <origin
        xyz="-0.0108507552512352 -0.00222078379608463 0.0272584155025345"
        rpy="0 0 0" />
      <mass
        value="0.0220131209035036" />
      <inertia
        ixx="8.80027883883616E-06"
        ixy="1.26376726607478E-08"
        ixz="6.85223481730703E-09"
        iyy="7.13469620246115E-06"
        iyz="-1.16002308114769E-07"
        izz="2.37412073971261E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/linker_hand_l20_6_right/thumb_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/linker_hand_l20_6_right/thumb_link2.STL" />
      </geometry>
    </collision>
  </link>+
  <joint
    name="thumb_joint2"
    type="revolute">
    <origin
      xyz="0.011082 -0.005298 0.026398"
      rpy="-0.017453 0 0" />
    <parent
      link="thumb_link1" />
    <child
      link="thumb_link2" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0.84"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="thumb_link3">
    <inertial>
      <origin
        xyz="-0.00974959688321198 0.00202228519722449 0.0122258007515927"
        rpy="0 0 0" />
      <mass
        value="0.00555228490379291" />
      <inertia
        ixx="6.61595122846642E-07"
        ixy="1.05595315534577E-09"
        ixz="-3.18287669820352E-09"
        iyy="4.69880503586704E-07"
        iyz="6.54476571195352E-08"
        izz="2.55667905062469E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/linker_hand_l20_6_right/thumb_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/linker_hand_l20_6_right/thumb_link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="thumb_joint3"
    type="revolute">
    <origin
      xyz="-0.0011 -0.004056 0.056083"
      rpy="0.022086 0 0" />
    <parent
      link="thumb_link2" />
    <child
      link="thumb_link3" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-1.3"
      upper="0"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="thumb_link4">
    <inertial>
      <origin
        xyz="-0.00797578866717898 0.00152639668005328 0.0106120855389221"
        rpy="0 0 0" />
      <mass
        value="0.0055604971359363" />
      <inertia
        ixx="3.3774130772916E-07"
        ixy="3.61066706901095E-10"
        ixz="7.97109634276947E-10"
        iyy="3.22422909267053E-07"
        iyz="-9.35015665594502E-08"
        izz="2.64467672788791E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/linker_hand_l20_6_right/thumb_link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/linker_hand_l20_6_right/thumb_link4.STL" />
      </geometry>
    </collision>
  </link>21
  <joint
    name="thumb_joint4"
    type="revolute">
    <origin
      xyz="-0.0021 0.0038291 0.03435"
      rpy="0.07351 0 0" />
    <parent
      link="thumb_link3" />
    <child
      link="thumb_link4" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-1.36"
      upper="0"
      effort="1"
      velocity="0.5" />
    <mimic joint="thumb_joint3" multiplier="1.06399" offset="-0.04545"/>
  </joint>
  <link name="thumb_tip">
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
  </link>
  <joint name="thumtip" type="fixed">
    <parent link="thumb_link4"/>
    <child link="thumb_tip"/>
    <origin rpy="0 0 0" xyz="0 0 0.026"/>
  </joint>
  <link
    name="index_link0">
    <inertial>
      <origin
        xyz="0.00499201301761733 5.8453954384155E-07 0.00222436287435923"
        rpy="0 0 0" />
      <mass
        value="0.000811726286239375" />
      <inertia
        ixx="3.31810810659534E-08"
        ixy="-4.73130497978781E-15"
        ixz="-4.26318024097879E-09"
        iyy="2.13817841267529E-08"
        iyz="8.79642448001007E-15"
        izz="3.60158935322358E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/linker_hand_l20_6_right/index_link0.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.592156862745098 0.666666666666667 0.682352941176471 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/linker_hand_l20_6_right/index_link0.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="index_joint0"
    type="revolute">
    <origin
      xyz="-0.023065 0.026697 0.18271"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="index_link0" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.26"
      upper="0.26"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="index_link1">
    <inertial>
      <origin
        xyz="-0.0012662 0.0047802 0.021586"
        rpy="0 0 0" />
      <mass
        value="0.0029859" />
      <inertia
        ixx="6.1441E-07"
        ixy="-6.7208E-12"
        ixz="2.6125E-09"
        iyy="6.6451E-07"
        iyz="-1.5783E-10"
        izz="7.4794E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/linker_hand_l20_6_right/index_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.36471 0.47843 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/linker_hand_l20_6_right/index_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="index_joint1"
    type="revolute">
    <origin
      xyz="0.01037 -0.0047959 0"
      rpy="0 -0.016705 0" />
    <parent
      link="index_link0" />
    <child
      link="index_link1" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-1.57"
      upper="0"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="index_link2">
    <inertial>
      <origin
        xyz="0.0022678782934194 0.00550938443619188 0.0157509409922609"
        rpy="0 0 0" />
      <mass
        value="0.00110397342872363" />
      <inertia
        ixx="1.25567261013688E-07"
        ixy="-5.66747555864477E-13"
        ixz="-1.74648045897156E-08"
        iyy="1.10386995872639E-07"
        iyz="-1.8998411342969E-12"
        izz="4.80247744617547E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/linker_hand_l20_6_right/index_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/linker_hand_l20_6_right/index_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="index_joint2"
    type="revolute">
    <origin
      xyz="-0.0034454 -0.00071234 0.044883"
      rpy="0 -0.1664 0" />
    <parent
      link="index_link1" />
    <child
      link="index_link2" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-0.75"
      upper="0"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="index_link3">
    <inertial>
      <origin
        xyz="-0.0070199 0.0077572 0.010283"
        rpy="0 0 0" />
      <mass
        value="0.0043646" />
      <inertia
        ixx="2.9569E-07"
        ixy="1.4231E-11"
        ixz="7.1242E-08"
        iyy="2.9572E-07"
        iyz="-9.0359E-11"
        izz="1.3393E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/linker_hand_l20_6_right/index_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/linker_hand_l20_6_right/index_link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="index_joint3"
    type="revolute">
    <origin
      xyz="0.0089932 -0.0022532 0.030525"
      rpy="0 0.043633 0" />
    <parent
      link="index_link2" />
    <child
      link="index_link3" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-1.57"
      upper="0"
      effort="1"
      velocity="1" />
    <mimic joint="index_joint2" multiplier="1.06399" offset="-0.04545"/>
  </joint>
  <link name="index_tip">
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
  </link>
  <joint name="indetip" type="fixed">
    <parent link="index_link3"/>
    <child link="index_tip"/>
    <origin rpy="0 0 0" xyz="-0.016 0 0.026"/>
  </joint>
  <link
    name="middle_link0">
    <inertial>
      <origin
        xyz="0.00499201301761733 5.84539543848489E-07 0.0022243628743592"
        rpy="0 0 0" />
      <mass
        value="0.000811726286239377" />
      <inertia
        ixx="3.31810810659534E-08"
        ixy="-4.73130499613394E-15"
        ixz="-4.26318024097879E-09"
        iyy="2.1381784126753E-08"
        iyz="8.79642447366863E-15"
        izz="3.60158935322358E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/linker_hand_l20_6_right/middle_link0.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.592156862745098 0.666666666666667 0.682352941176471 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/linker_hand_l20_6_right/middle_link0.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="middle_joint0"
    type="revolute">
    <origin
      xyz="-0.027799 0.0050972 0.1872"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="middle_link0" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.26"
      upper="0.26"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="middle_link1">
    <inertial>
      <origin
        xyz="-0.00126616757442883 0.00478020260131797 0.0215857761806502"
        rpy="0 0 0" />
      <mass
        value="0.00298593553533332" />
      <inertia
        ixx="6.14413061991008E-07"
        ixy="-6.72078487993598E-12"
        ixz="2.61250859819972E-09"
        iyy="6.64506610035218E-07"
        iyz="-1.5782653947063E-10"
        izz="7.47935343487365E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/linker_hand_l20_6_right/middle_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.364705882352941 0.47843137254902 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/linker_hand_l20_6_right/middle_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="middle_joint1"
    type="revolute">
    <origin
      xyz="0.01037 -0.0047959 0"
      rpy="0 -0.016705 0" />
    <parent
      link="middle_link0" />
    <child
      link="middle_link1" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-1.57"
      upper="0"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="middle_link2">
    <inertial>
      <origin
        xyz="0.00206147810486489 0.0055093844355147 0.0157792814180968"
        rpy="0 0 0" />
      <mass
        value="0.00110397342856969" />
      <inertia
        ixx="1.26011217966818E-07"
        ixy="-5.41827944403056E-13"
        ixz="-1.64437457339027E-08"
        iyy="1.10386995852566E-07"
        iyz="-1.90708945160502E-12"
        izz="4.75808174813495E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/linker_hand_l20_6_right/middle_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/linker_hand_l20_6_right/middle_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="middle_joint2"
    type="revolute">
    <origin
      xyz="-0.0034454 -0.00071234 0.044883"
      rpy="0 -0.15331 0" />
    <parent
      link="middle_link1" />
    <child
      link="middle_link2" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-0.75"
      upper="0"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="middle_link3">
    <inertial>
      <origin
        xyz="-0.00701990846170339 0.00775722692543853 0.0102834906292369"
        rpy="0 0 0" />
      <mass
        value="0.00436464025798777" />
      <inertia
        ixx="2.95690415926815E-07"
        ixy="1.42314403707937E-11"
        ixz="7.12424042898867E-08"
        iyy="2.95717870924723E-07"
        iyz="-9.03585662309647E-11"
        izz="1.33934082734713E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/linker_hand_l20_6_right/middle_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/linker_hand_l20_6_right/middle_link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="middle_joint3"
    type="revolute">
    <origin
      xyz="0.0085928 -0.0022532 0.03064"
      rpy="0 0.030541 0" />
    <parent
      link="middle_link2" />
    <child
      link="middle_link3" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-1.57"
      upper="0"
      effort="1"
      velocity="1" />
    <mimic joint="middle_joint2" multiplier="1.06399" offset="-0.04545"/>
  </joint>
  <link name="middle_tip">
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
  </link>
  <joint name="middtip" type="fixed">
    <parent link="middle_link3"/>
    <child link="middle_tip"/>
    <origin rpy="0 0 0" xyz="-0.016 0 0.026"/>
  </joint>
  <link
    name="ring_link0">
    <inertial>
      <origin
        xyz="0.00499201301761733 5.8453954384155E-07 0.00222436287435923"
        rpy="0 0 0" />
      <mass
        value="0.000811726286239376" />
      <inertia
        ixx="3.31810810659534E-08"
        ixy="-4.73130496290983E-15"
        ixz="-4.26318024097879E-09"
        iyy="2.13817841267529E-08"
        iyz="8.7964244475489E-15"
        izz="3.60158935322358E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/linker_hand_l20_6_right/ring_link0.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.592156862745098 0.666666666666667 0.682352941176471 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/linker_hand_l20_6_right/ring_link0.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ring_joint0"
    type="revolute">
    <origin
      xyz="-0.025494 -0.016503 0.18271"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="ring_link0" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.26"
      upper="0.26"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="ring_link1">
    <inertial>
      <origin
        xyz="-0.00162655515218408 0.00478020259309836 0.0215616147832942"
        rpy="0 0 0" />
      <mass
        value="0.00298593553533345" />
      <inertia
        ixx="6.14175233798026E-07"
        ixy="-4.08355103251197E-12"
        ixz="1.16234835717447E-08"
        iyy="6.64506610583797E-07"
        iyz="-1.57916557955352E-10"
        izz="7.50313630900641E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/linker_hand_l20_6_right/ring_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.364705882352941 0.47843137254902 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/linker_hand_l20_6_right/ring_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ring_joint1"
    type="revolute">
    <origin
      xyz="0.01037 -0.0047959 0"
      rpy="0 0 0" />
    <parent
      link="ring_link0" />
    <child
      link="ring_link1" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-1.57"
      upper="0"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="ring_link2">
    <inertial>
      <origin
        xyz="0.00206147810411875 0.00550938443821904 0.0157792814243852"
        rpy="0 0 0" />
      <mass
        value="0.00110397342920435" />
      <inertia
        ixx="1.26011218063283E-07"
        ixy="-5.4182363605894E-13"
        ixz="-1.64437457238363E-08"
        iyy="1.10386995935321E-07"
        iyz="-1.90712438627863E-12"
        izz="4.75808174975987E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/linker_hand_l20_6_right/ring_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/linker_hand_l20_6_right/ring_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ring_joint2"
    type="revolute">
    <origin
      xyz="-0.0041946 -0.00071234 0.044819"
      rpy="0 -0.17001 0" />
    <parent
      link="ring_link1" />
    <child
      link="ring_link2" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-0.75"
      upper="0"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="ring_link3">
    <inertial>
      <origin
        xyz="-0.00701990846170333 0.00775722692543853 0.0102834906292371"
        rpy="0 0 0" />
      <mass
        value="0.00436464025798771" />
      <inertia
        ixx="2.95690415925351E-07"
        ixy="1.42314403691933E-11"
        ixz="7.12424042898873E-08"
        iyy="2.95717870924722E-07"
        iyz="-9.03585662309584E-11"
        izz="1.33934082733249E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/linker_hand_l20_6_right/ring_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/linker_hand_l20_6_right/ring_link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ring_joint3"
    type="revolute">
    <origin
      xyz="0.0085928 -0.0022532 0.03064"
      rpy="0 0.030541 0" />
    <parent
      link="ring_link2" />
    <child
      link="ring_link3" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-1.57"
      upper="0"
      effort="1"
      velocity="1" />
    <mimic joint="ring_joint2" multiplier="1.06399" offset="-0.04545"/>
  </joint>
   <link name="ring_tip">
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
  </link>
  <joint name="rintip" type="fixed">
    <parent link="ring_link3"/>
    <child link="ring_tip"/>
    <origin rpy="0 0 0" xyz="-0.016 0 0.026"/>
  </joint>
  <link
    name="little_link0">
    <inertial>
      <origin
        xyz="0.00499201301761731 5.84539543851958E-07 0.00222436287435926"
        rpy="0 0 0" />
      <mass
        value="0.000811726286239376" />
      <inertia
        ixx="3.31810810659534E-08"
        ixy="-4.73130500844276E-15"
        ixz="-4.26318024097879E-09"
        iyy="2.13817841267529E-08"
        iyz="8.79642447585534E-15"
        izz="3.60158935322357E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/linker_hand_l20_6_right/little_link0.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.592156862745098 0.666666666666667 0.682352941176471 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/linker_hand_l20_6_right/little_link0.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="little_joint0"
    type="revolute">
    <origin
      xyz="-0.02187 -0.038103 0.17821"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="little_link0" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.26"
      upper="0.26"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="little_link1">
    <inertial>
      <origin
        xyz="-0.0016265551521829 0.00478020259309832 0.021561614783292"
        rpy="0 0 0" />
      <mass
        value="0.00298593553533314" />
      <inertia
        ixx="6.14175233790377E-07"
        ixy="-4.08355119305353E-12"
        ixz="1.16234832549261E-08"
        iyy="6.6450661539883E-07"
        iyz="-1.5791655794165E-10"
        izz="7.50313679127257E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/linker_hand_l20_6_right/little_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.364705882352941 0.47843137254902 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/linker_hand_l20_6_right/little_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="little_joint1"
    type="revolute">
    <origin
      xyz="0.01037 -0.0047959 0"
      rpy="0 0 0" />
    <parent
      link="little_link0" />
    <child
      link="little_link1" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-1.57"
      upper="0"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="little_link2">
    <inertial>
      <origin
        xyz="0.00206147810468327 0.00550938443616768 0.0157792814196219"
        rpy="0 0 0" />
      <mass
        value="0.00110397342872363" />
      <inertia
        ixx="1.2601121799018E-07"
        ixy="-5.41826899960353E-13"
        ixz="-1.64437457314512E-08"
        iyy="1.10386995872637E-07"
        iyz="-1.90709788550591E-12"
        izz="4.75808174852604E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/linker_hand_l20_6_right/little_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/linker_hand_l20_6_right/little_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="little_joint2"
    type="revolute">
    <origin
      xyz="-0.0041946 -0.00071234 0.044819"
      rpy="0 -0.17001 0" />
    <parent
      link="little_link1" />
    <child
      link="little_link2" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-0.75"
      upper="0"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="little_link3">
    <inertial>
      <origin
        xyz="-0.00701990846170338 0.00775722692543847 0.0102834906292369"
        rpy="0 0 0" />
      <mass
        value="0.00436464025798779" />
      <inertia
        ixx="2.95690415926545E-07"
        ixy="1.42314403688477E-11"
        ixz="7.12424042898866E-08"
        iyy="2.95717870924726E-07"
        iyz="-9.03585662282306E-11"
        izz="1.33934082734442E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/linker_hand_l20_6_right/little_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/linker_hand_l20_6_right/little_link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="little_joint3"
    type="revolute">
    <origin
      xyz="0.0085928 -0.0022532 0.03064"
      rpy="0 0.030541 0" />
    <parent
      link="little_link2" />
    <child
      link="little_link3" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-1.57"
      upper="0"
      effort="1"
      velocity="1" />
    <mimic joint="little_joint2" multiplier="1.06399" offset="-0.04545"/>
  </joint>
  <link name="little_tip">
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
  </link>
  <joint name="litttip" type="fixed">
    <parent link="little_link3"/>
    <child link="little_tip"/>
    <origin rpy="0 0 0" xyz="-0.016 0 0.026"/>
  </joint>
</robot>
