<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="linkerhand_O7_left.urdf">
  <link
    name="hand_base_link">
    <inertial>
      <origin
        xyz="-0.000897326242450024 -0.000912910200583317 0.0725139361953409"
        rpy="0 0 0" />
      <mass
        value="0.0961317016824249" />
      <inertia
        ixx="0.000102695669168065"
        ixy="-4.31409372592166E-07"
        ixz="-1.88110470378979E-06"
        iyy="6.48454975844519E-05"
        iyz="8.30780063139162E-07"
        izz="4.84048917293055E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/hand_base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/hand_base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="thumb_metacarpals_base1">
    <inertial>
      <origin
        xyz="0.0284788894151386 0.00319256506714694 6.34018160309141E-05"
        rpy="0 0 0" />
      <mass
        value="0.008458166602164" />
      <inertia
        ixx="1.40225525565718E-06"
        ixy="-1.17424349448493E-07"
        ixz="-2.44371914829917E-08"
        iyy="9.81539909312112E-07"
        iyz="7.1653181934508E-08"
        izz="7.37573294246133E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/thumb_metacarpals_base1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/thumb_metacarpals_base1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="thumb_cmc_roll"
    type="revolute">
    <origin
      xyz="-0.0116 -0.018174 0.061651"
      rpy="0 0 0" />
    <parent
      link="hand_base_link" />
    <child
      link="thumb_metacarpals_base1" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="1.0467"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="thumb_metacarpals_base2">
    <inertial>
      <origin
        xyz="0.00182516382933488 -0.00607106068295837 -0.000214940429845767"
        rpy="0 0 0" />
      <mass
        value="0.00244725544623658" />
      <inertia
        ixx="1.15294300077379E-07"
        ixy="5.29471769562756E-09"
        ixz="1.13374323579654E-09"
        iyy="9.92749908987612E-08"
        iyz="-3.76194111844174E-09"
        izz="6.88505588241704E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/thumb_metacarpals_base2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/thumb_metacarpals_base2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="thumb_cmc_yaw"
    type="revolute">
    <origin
      xyz="0.0358 0.00065771 0.0001518"
      rpy="0.22683 0 0" />
    <parent
      link="thumb_metacarpals_base1" />
    <child
      link="thumb_metacarpals_base2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="1.2037"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="thumb_metacarpals">
    <inertial>
      <origin
        xyz="0.00183661017256971 3.49566626065695E-06 0.0269904788747289"
        rpy="0 0 0" />
      <mass
        value="0.0152012572365745" />
      <inertia
        ixx="2.95371158081021E-06"
        ixy="-4.54881278719267E-11"
        ixz="1.58085781844444E-07"
        iyy="3.84771656182606E-06"
        iyz="-4.17660185279459E-10"
        izz="1.32008384606666E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/thumb_metacarpals.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/thumb_metacarpals.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="thumb_cmc_pitch"
    type="revolute">
    <origin
      xyz="0.00456 -0.015168 -0.0019302"
      rpy="0 -0.9163 1.8628" />
    <parent
      link="thumb_metacarpals_base2" />
    <child
      link="thumb_metacarpals" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0.4867"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="thumb_proximal">
    <inertial>
      <origin
        xyz="0.00159261656614682 4.26271875718365E-06 0.0151572133876173"
        rpy="0 0 0" />
      <mass
        value="0.00662223485589349" />
      <inertia
        ixx="1.01526067183447E-06"
        ixy="6.57953741828722E-12"
        ixz="4.42238344019023E-08"
        iyy="9.10424298550283E-07"
        iyz="-2.53232461107778E-11"
        izz="4.47461469264052E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/thumb_proximal.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/thumb_proximal.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="thumb_mcp"
    type="revolute">
    <origin
      xyz="0.0061722 0 0.047968"
      rpy="0 0 0" />
    <parent
      link="thumb_metacarpals" />
    <child
      link="thumb_proximal" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0.6699"
      effort="100"
      velocity="1" />
    <mimic
      joint="thumb_cmc_pitch"
      multiplier="1.38"
      offset="0" />
  </joint>
  <link
    name="thumb_distal">
    <inertial>
      <origin
        xyz="-0.0013880494999034 -1.94438553298426E-06 0.0115761189575842"
        rpy="0 0 0" />
      <mass
        value="0.00512789763491093" />
      <inertia
        ixx="3.30786128125052E-07"
        ixy="3.38117874372216E-10"
        ixz="1.0468342808867E-07"
        iyy="3.23606985378064E-07"
        iyz="1.2456516130763E-10"
        izz="2.48874226680203E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/thumb_distal.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/thumb_distal.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="thumb_ip"
    type="revolute">
    <origin
      xyz="-0.00017064 0 0.038665"
      rpy="0 0 0" />
    <parent
      link="thumb_proximal" />
    <child
      link="thumb_distal" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0.6611"
      effort="100"
      velocity="1" />
    <mimic
      joint="thumb_cmc_pitch"
      multiplier="1.36"
      offset="0" />
  </joint>
  <link
    name="index_proximal">
    <inertial>
      <origin
        xyz="-0.00123185123301241 -2.04548143356575E-06 0.0182404213309983"
        rpy="0 0 0" />
      <mass
        value="0.00316246744707535" />
      <inertia
        ixx="3.57097105403266E-07"
        ixy="-1.43145881561663E-11"
        ixz="4.15201790411686E-08"
        iyy="3.51905930878584E-07"
        iyz="1.08480622774223E-10"
        izz="1.40910674767013E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/index_proximal.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/index_proximal.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="index_mcp_pitch"
    type="revolute">
    <origin
      xyz="0.0022097 -0.027177 0.12685"
      rpy="0 0 0" />
    <parent
      link="hand_base_link" />
    <child
      link="index_proximal" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="1.3275"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="index_middle">
    <inertial>
      <origin
        xyz="-0.00252079745356534 2.18958247855117E-06 0.0110357094011752"
        rpy="0 0 0" />
      <mass
        value="0.00283043920494194" />
      <inertia
        ixx="2.60908427607277E-07"
        ixy="-5.76712864978736E-11"
        ixz="4.02265931111058E-08"
        iyy="2.33077518753956E-07"
        iyz="2.86057149655759E-11"
        izz="1.26672509764601E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/index_middle.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/index_middle.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="index_pip"
    type="revolute">
    <origin
      xyz="-0.0010861 0 0.035634"
      rpy="0 0 0" />
    <parent
      link="index_proximal" />
    <child
      link="index_middle" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="1.7915"
      effort="100"
      velocity="1" />
    <mimic
      joint="index_mcp_pitch"
      multiplier="1.35"
      offset="0" />
  </joint>
  <link
    name="index_distal">
    <inertial>
      <origin
        xyz="-0.000622398114496395 -4.7582277233893E-06 0.0121501692675341"
        rpy="0 0 0" />
      <mass
        value="0.00314451965833553" />
      <inertia
        ixx="1.63942742295834E-07"
        ixy="-1.95092189220806E-11"
        ixz="4.2875333048186E-08"
        iyy="1.48361206420248E-07"
        iyz="1.96954369466669E-10"
        izz="9.79298337097917E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/index_distal.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/index_distal.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="index_dip"
    type="revolute">
    <origin
      xyz="-0.0052857 0 0.025703"
      rpy="0 0 0" />
    <parent
      link="index_middle" />
    <child
      link="index_distal" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0.6053"
      effort="100"
      velocity="1" />
    <mimic
      joint="index_mcp_pitch"
      multiplier="0.46"
      offset="0" />
  </joint>
  <link
    name="middle_proximal">
    <inertial>
      <origin
        xyz="-0.00123185123301218 -2.04548143201144E-06 0.0182404213309955"
        rpy="0 0 0" />
      <mass
        value="0.00316246744707548" />
      <inertia
        ixx="3.57097105403253E-07"
        ixy="-1.43145881381195E-11"
        ixz="4.15201790403923E-08"
        iyy="3.51905930879004E-07"
        iyz="1.0848062287058E-10"
        izz="1.40910674767359E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/middle_proximal.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/middle_proximal.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="middle_mcp_pitch"
    type="revolute">
    <origin
      xyz="0.0022097 -0.0081771 0.13185"
      rpy="0 0 0" />
    <parent
      link="hand_base_link" />
    <child
      link="middle_proximal" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="1.3275"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="middle_middle">
    <inertial>
      <origin
        xyz="-0.00252079745356536 2.18958247860668E-06 0.0110357094011748"
        rpy="0 0 0" />
      <mass
        value="0.00283043920494191" />
      <inertia
        ixx="2.60908427607323E-07"
        ixy="-5.76712865051872E-11"
        ixz="4.02265931108534E-08"
        iyy="2.33077518753998E-07"
        iyz="2.86057149655804E-11"
        izz="1.26672509764487E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/middle_middle.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/middle_middle.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="middle_pip"
    type="revolute">
    <origin
      xyz="-0.0010861 0 0.035634"
      rpy="0 0 0" />
    <parent
      link="middle_proximal" />
    <child
      link="middle_middle" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="1.7915"
      effort="100"
      velocity="1" />
    <mimic
      joint="middle_mcp_pitch"
      multiplier="1.35"
      offset="0" />
  </joint>
  <link
    name="middle_distal">
    <inertial>
      <origin
        xyz="-0.000622396956367996 -4.75547870656956E-06 0.0121501746972332"
        rpy="0 0 0" />
      <mass
        value="0.00314452215229741" />
      <inertia
        ixx="1.63942843869602E-07"
        ixy="-1.95108447882703E-11"
        ixz="4.28753700914127E-08"
        iyy="1.48361290039306E-07"
        iyz="1.969296613704E-10"
        izz="9.79299084563893E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/middle_distal.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/middle_distal.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="middle_distal"
    type="revolute">
    <origin
      xyz="-0.0052857 0 0.025703"
      rpy="0 0 0" />
    <parent
      link="middle_middle" />
    <child
      link="middle_distal" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0.6053"
      effort="100"
      velocity="1" />
    <mimic
      joint="middle_mcp_pitch"
      multiplier="0.46"
      offset="0" />
  </joint>
  <link
    name="ring_proximal">
    <inertial>
      <origin
        xyz="-0.00123185123301686 -2.04548143697969E-06 0.0182404213310381"
        rpy="0 0 0" />
      <mass
        value="0.00316246744706943" />
      <inertia
        ixx="3.57097105403003E-07"
        ixy="-1.4314588154039E-11"
        ixz="4.15201790411539E-08"
        iyy="3.51905930878337E-07"
        iyz="1.08480622702414E-10"
        izz="1.40910674766989E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/ring_proximal.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/ring_proximal.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ring_mcp_pitch"
    type="revolute">
    <origin
      xyz="0.0022097 0.010823 0.12685"
      rpy="0 0 0" />
    <parent
      link="hand_base_link" />
    <child
      link="ring_proximal" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="1.3275"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="ring_middle">
    <inertial>
      <origin
        xyz="-0.00252079745356525 2.18958247852341E-06 0.011035709401175"
        rpy="0 0 0" />
      <mass
        value="0.00283043920494193" />
      <inertia
        ixx="2.60908427607274E-07"
        ixy="-5.76712865025782E-11"
        ixz="4.02265931110629E-08"
        iyy="2.3307751875386E-07"
        iyz="2.86057149665485E-11"
        izz="1.26672509764501E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/ring_middle.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/ring_middle.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ring_pip"
    type="revolute">
    <origin
      xyz="-0.0010861 0 0.035634"
      rpy="0 0 0" />
    <parent
      link="ring_proximal" />
    <child
      link="ring_middle" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="1.7915"
      effort="100"
      velocity="1" />
    <mimic
      joint="ring_mcp_pitch"
      multiplier="1.35"
      offset="0" />
  </joint>
  <link
    name="ring_distal">
    <inertial>
      <origin
        xyz="-0.00062239705526124 -4.75697558710575E-06 0.0121501695601819"
        rpy="0 0 0" />
      <mass
        value="0.00314452007951333" />
      <inertia
        ixx="1.63942748831931E-07"
        ixy="-1.95201740096707E-11"
        ixz="4.28753293231027E-08"
        iyy="1.48361196403427E-07"
        iyz="1.96957355280363E-10"
        izz="9.79298505176024E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/ring_distal.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/ring_distal.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ring_dip"
    type="revolute">
    <origin
      xyz="-0.0052857 0 0.025703"
      rpy="0 0 0" />
    <parent
      link="ring_middle" />
    <child
      link="ring_distal" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0.6053"
      effort="100"
      velocity="1" />
    <mimic
      joint="ring_mcp_pitch"
      multiplier="0.46"
      offset="0" />
  </joint>
  <link
    name="pinky_proximal">
    <inertial>
      <origin
        xyz="-0.00123185123301017 -2.04548143162286E-06 0.018240421330975"
        rpy="0 0 0" />
      <mass
        value="0.00316246744707885" />
      <inertia
        ixx="3.57097105403429E-07"
        ixy="-1.43145881543455E-11"
        ixz="4.15201790411223E-08"
        iyy="3.51905930879021E-07"
        iyz="1.08480622815274E-10"
        izz="1.40910674767324E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/pinky_proximal.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/pinky_proximal.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="pinky_mcp_pitch"
    type="revolute">
    <origin
      xyz="0.0022097 0.029823 0.12185"
      rpy="0 0 0" />
    <parent
      link="hand_base_link" />
    <child
      link="pinky_proximal" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="1.3275"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="pinky_middle">
    <inertial>
      <origin
        xyz="-0.00252079745356543 2.18958247849566E-06 0.0110357094011744"
        rpy="0 0 0" />
      <mass
        value="0.00283043920494193" />
      <inertia
        ixx="2.60908427607402E-07"
        ixy="-5.76712865055921E-11"
        ixz="4.02265931105376E-08"
        iyy="2.33077518754123E-07"
        iyz="2.8605714962065E-11"
        izz="1.26672509764658E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/pinky_middle.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/pinky_middle.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="pinky_pip"
    type="revolute">
    <origin
      xyz="-0.0010861 0 0.035634"
      rpy="0 0 0" />
    <parent
      link="pinky_proximal" />
    <child
      link="pinky_middle" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="1.7915"
      effort="100"
      velocity="1" />
    <mimic
      joint="pinky_mcp_pitch"
      multiplier="1.35"
      offset="0" />
  </joint>
  <link
    name="pinky_distal">
    <inertial>
      <origin
        xyz="-0.000622397234656704 -4.75744725214611E-06 0.0121501744713063"
        rpy="0 0 0" />
      <mass
        value="0.00314452214586484" />
      <inertia
        ixx="1.63942853705936E-07"
        ixy="-1.95026824844707E-11"
        ixz="4.28753747717248E-08"
        iyy="1.48361304396804E-07"
        iyz="1.96929872257974E-10"
        izz="9.79299058734353E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/pinky_distal.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/pinky_distal.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="pinky_dip"
    type="revolute">
    <origin
      xyz="-0.0052857 0 0.025703"
      rpy="0 0 0" />
    <parent
      link="pinky_middle" />
    <child
      link="pinky_distal" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0.6053"
      effort="100"
      velocity="1" />
    <mimic
      joint="pinky_mcp_pitch"
      multiplier="0.46"
      offset="0" />
  </joint>
</robot>